@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat, sans-serif;
}

.search-form {
  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    background-color: transparent;
    margin: 0;
    width: 80px;
    height: 77px;
    font: inherit;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    @media screen and (min-width: 1440px) {
      width: 32px;
      height: 32px;
      background-color: #fff;
      border: 2px solid #d9d9d9;
    }
  }

  input[type="checkbox"]:checked {
    border: 2px solid #17bbde;
    background-color: #d7f0f5;
    @media screen and (min-width: 1440px) {
      border: 2px solid #d9d9d9;
      background-color: #17bbde;
      background-image: url(/src/images/cheked.svg);
      background-position: center;
    }
  }
}

/* Faq styles */

.faq-row-wrapper {
  @media screen and (min-width: 1440px) {
    width: 800px;
  }
  .faq-title {
  }

  .faq-body {
    font-size: 16px;
    @media screen and (min-width: 1440px) {
      font-size: 18px;
    }
    .faq-row {
      border-bottom: none;
      .row-title {
        border-bottom: 1px solid #17bbde;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-weight: 600;
        line-height: 1.4;

        .row-title-text {
          width: 100%;
          @media screen and (min-width: 540px) {
            padding-left: 15px;
            max-width: 500px;
          }
        }

        .icon-wrapper {
          position: static;
          max-width: none;
          max-height: none;
        }
      }
      .row-content {
        display: flex;
        justify-content: center;
        height: fit-content;
        background-image: linear-gradient(
          rgb(232, 249, 252),
          rgb(232, 249, 252)
        );
        background-size: contain;
        background-position: center;

        border-bottom: none;
        @media screen and (min-width: 767px) {
          background-image: url(/src/images/pawshighres1@2x.png),
            linear-gradient(rgb(232, 249, 252), rgb(232, 249, 252));
          background-position: left 20px top, left bottom;
          background-repeat: no-repeat, no-repeat;
          background-size: 60px, contain;
        }

        .row-content-text {
          font-size: inherit;
          padding: 20px 10px;
          height: fit-content;
          max-width: 500px;
          @media screen and (min-width: 540px) {
            padding: 20px 0;
          }
        }
      }
    }
  }
}
